{% extends 'base.html' %}
{% load static %}
{% static "images" as baseUrl %}

{% block content %}


    <!-- Header -->
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h1>Privacy Policy</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <!-- Basic -->
    <div class="ex-basic-1 pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h2 class="mt-5 mb-3">PRIVACY POLICY</h2>
                    <p class="mb-5">
                        We take Data Protection seriously and will only Process your Personal Data where you have given your consent, or when there is a legitimate reason to do so.
                    </p>
                    <p>
                        By clicking on “Accept” you consent to the use of cookies on this website and other Data collection mechanisms. We will only use your Personal Data for legitimate purposes consented to by you.
                    </p>
                    <p>
                        You have all the rights of a Data Subject as contained under Article 3.1 of the NDPR. You have the right to object to further processing of your Data.
                    </p>
                    <p>
                        We take appropriate measures to help protect all Personal Data about you from loss, theft, misuse and unauthorized access, disclosure, alteration and destruction. 
                        However, you are required to take all necessary caution when giving out your information on the internet. 
                    </p>
                    
                    
                    
                    <a class="btn-solid-reg mb-5" href="/">Home</a>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of basic -->


{% endblock content %}